.card-list {
    width: 50vw;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

}
.card-section {
    width: auto;
    height: auto;
    margin: 30px;
}